/* .topbar-user-pic {
  filter:url(#round);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
} */


/* .hexagone {
  display:inline-block;
  width:150px;
  color:red;
  margin:20px;
  filter:url(#round);
}
.hexagone::before {
   content:"";
   display:block;
   padding-top:86.6%;
   background:currentColor;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
} */
