.main {
  --s: 220px;
  --r: 0.85;
  --h: 0.25;
  --v: 0.5;
  --hc: calc(clamp(0, var(--h), 0.5) * var(--s));
  --vc: calc(clamp(0, var(--v), 0.5) * var(--s) * var(--r));

  --mv: 2px; /* vertical */
  --mh: calc(var(--mv) + (var(--s) - 2 * var(--hc)) / 2 + 4px);

  /* for the float*/
  --f: calc(2 * var(--s) * var(--r) + 4 * var(--mv) - 2 * var(--vc) - 2px);

  display: grid;
  grid-template-columns: repeat(auto-fit, calc(var(--s) + 2 * var(--mh)));
  justify-content: center;
  margin: 0 -100px;
}

@media (max-width: 768px) {
  /* … */
  .main {
    grid-template-columns: repeat(auto-fit, calc(var(--s) + 2 * var(--mh))) calc(
        var(--s) / 2 + var(--mh)
      );
  }
}

@media (max-width: 640px) {
  .main {
    margin: 0 0;
  }
}

.container {
  font-size: 0;
  grid-column: 1/-1;
  padding-top: 2rem;
  padding-bottom: calc(1 * var(--s) * var(--r) + 20px);
}

.hexagon {
  /* padding: 0 var(--hc); */
  width: var(--s);
  margin: var(--mv) var(--mh);
  height: calc(var(--s) * var(--r));
  font-size: initial;
  clip-path: polygon(
    var(--hc) 0,
    calc(100% - var(--hc)) 0,
    100% var(--vc),
    100% calc(100% - var(--vc)),
    calc(100% - var(--hc)) 100%,
    var(--hc) 100%,
    0 calc(100% - var(--vc)),
    0 var(--vc)
  );
  margin-bottom: calc(var(--mv) - var(--vc));

  display: inline-block;
  justify-content: center;
  align-items: center;
}

.shadow {
  height: 95%;
  width: 95%;
  filter: url(#player-cell-transfer) drop-shadow(2px 4px 6px #00000028);
  margin: 1px auto;
}

.hexagonInner {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    var(--hc) 0,
    calc(100% - var(--hc)) 0,
    100% var(--vc),
    100% calc(100% - var(--vc)),
    calc(100% - var(--hc)) 100%,
    var(--hc) 100%,
    0 calc(100% - var(--vc)),
    0 var(--vc)
  );
}

.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--mh));
  float: left;
  height: 135%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 2px),
    #000 0 var(--f)
  );
}
